.mainBody {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.leftPanel {
  background-color: blue;
  height: 100vh;
  flex: 1;
}

.rightPanel {
  height: 100vh;
  flex: 2;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonRow {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 5%;
}

.teacherButton {
  cursor: pointer;
  transition: 1s;
  outline: none;
  background-color: var(--mainColor);
  color: white;
  font-family: var(--mainFont);
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1%;
  border-radius: 20px;
}

.studentButton {
  cursor: pointer;
  transition: 1s;
  outline: none;
  background-color: var(--secondaryColor);
  color: white;
  font-family: var(--mainFont);
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1%;
  border-radius: 20px;
}

.disabledButton {
  cursor: pointer;
  transition: 1s;
  outline: none;
  filter: grayscale(100%);
  color: rgb(184, 179, 179);
  font-family: var(--mainFont);
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1%;
  border-radius: 20px;
}

.loginHead {
  padding-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7%;
}

.loginHead h1 {
  font-size: 3rem;
  font-family: var(--mainFont);
  text-transform: uppercase;
}

.loginHead h2 {
  font-family: var(--mainFont);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.loginForm {
  height: fit-content;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.loginForm input {
    text-align: center;
  transition: 1s;
  margin: 1% auto;
  width: 100%;
  font-family: var(--mainFont);
  font-size: 1.5rem;
  padding: 1%;
  border: solid 1px var(--mainColor);
  border-radius: 20px;
}

.loginForm input:focus {
  transition: 0.2s;
  outline: none;
  border: none;
  border-radius: 0px;
  border-bottom: solid 5px var(--mainColor);
}

.loginForm button {
  cursor: pointer;
  color: white;
  transition: 1s;
  outline: none;
  width: 100%;
  font-family: var(--mainFont);
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1%;
  border-radius: 20px;
}

.footer{
    margin-top: 2rem;
    font-family: var(--mainFont);
    color: gray;
}

.signUp{
    color: var(--secondaryColor);
    cursor: pointer;
}
